body,html,p,tr,td{
    margin:0;
    padding:0;
}
ul,li{
    list-style: none;
}
.right{
    float:right;
}
.left{
    float: left;
}
.clear{
    clear: both;
}
.padding-0{
    padding:0px;
}
.page .listName h3 span{
    font-weight: 400;
    display: inline-block;
    padding-left:5px;
    font-size:16px
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Source Sans Pro',sans-serif;
    font-weight:500;
    font-size:20px;
}
.el-container{
    height:100%;
}

.pagination{
    height:60px;
    padding-top:20px;
    text-align: left;
}

em{
    font-style: normal
}
.border{
    border:1px solid #ddd;
    border-radius: 4px;
}
.el-dialog, .el-pager li{
    background-color:#FAFAFA;
    border:1px solid #E4E4E4;
   
}

.el-pager li.active{
    background-color:#337AB7;
    color:#fff;
}

.header-left .el-dialog__header{
    text-align:left;
    border-bottom:1px solid #ededed;
}
.el-dialog__body{
    font-size:16px;
}
.el-dialog__body .el-select{
    width:100%;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner{
    width:100%;
}
.el-submenu__title{
    color:#fff;
    font-size:16px;
}
.el-submenu__title i{
    color:#fff;
    
}
.el-submenu [class^=el-icon-]{
    font-size:12px;
    display:inline-block;
    padding-right:20px;
    padding-left:20px;
}
.flex-jz{
    display:-webkit-flex;
    display: flex;
    flex-wrap:wrap;
}
.justify-center{
    justify-content:center;
}
.aliem-center{
    align-items:center;
}
.height100{
    height:100%;
}
.cursor{
    cursor:pointer;
}
.align-left{
    text-align: left;
}
.over{
    overflow: hidden;
}
.width100{
    width:100%;
}
.padding-left-20{
    padding-left:20px;
}
.buttonback{
    background-image:url('../image/button.png');
    background-size: 100% 100%;
    border:none;
}

.addborder .el-input__inner{
    border:1px solid #999;
    background-color:#fff;  
}
.el-table .warning-row {
    background: #ECF0F1;
  }

  .el-table .className:nth-child(2n+1){
    background: #ECF0F1;
  }
  /* .el-table .success-row {
    background: #f0f9eb;
  } */
.el-upload--picture-card{
    width:100%;
}
.padding20{
    padding:20px;
}
.el-select .el-input .el-select__caret{
    color:#385487;
}
.padding-5{
    display:inline-block;
    padding:5px 5px 0 0 ;
}
.activeborder .el-input__inner{
    border:none;
}
.activeborder .el-select .el-input .el-select__caret{
    display: none;
}
.el-input.is-disabled .el-input__inner{
    color:#333;
}
.set{
    cursor: pointer;
}
.page-login .el-input__inner{
    background-color: rgb(232, 240, 254) !important;
    border: 1px solid #e0e0e0;
    padding: 10px 11px;
    width: 280px;

}
.yhdl-elform .el-input__inner{
    background-color:transparent;
    border:none;
}
.zhdlTime .el-input__inner{
    width:280px;
    background-color: transparent;
}
.zhdlTime .el-range-input{
    background-color: transparent;
}
.jsWidth .el-input__inner{
    width:120px;
}
.fenye{
    width:100%;
    padding-top:20px;
    
}
.el-pagination{
    float:right;
}